.container {
  height: 10rem;
  display: flex;
  color: aliceblue;
  justify-content: center;
  padding-top: 2rem;
}

.developer {
  color: rgb(135, 215, 252);
  text-decoration: underline;
}

.developer:hover{
  color: rgb(130, 247, 130);
  font-weight: 500;
}
